@import "~bootstrap/scss/bootstrap.scss";
@import "../../index.scss";

.Header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 200px;

  .headerIconsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .logoHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logoRow {
    height: 80px;
    margin-block-end: 20px;
  }
  nav,
  nav ul,
  nav ul li {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 26px;
    display: inline-block;
    font-weight: 300px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

.HeaderFixed {
  position: fixed;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 70px;

  .logoRow {
    position: absolute;
    height: 50px;
    margin-top: 10px;
    left: 15px;
  }
  nav,
  nav ul,
  nav ul li {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 26px;
    display: inline-block;
    font-weight: 300;
    color: $white;
  }
  nav {
    position: absolute;
    top: 50%;
    right: 15px;

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .boxWrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 1024px) {
  .boxWrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1264px) {
  .boxWrapper {
    max-width: 1264px;
    margin: 0 20px;
  }
}

.icon {
  width: 15px;
}
.textIcon {
  padding-right: 30px;
  padding-left: 10px;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}
