$black:#010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #d40b0b;

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400px;
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    // @include transition( 0.4s ease-in-out);
    cursor: pointer;

    &:hover{
        color: $red;
       // @include transition(.4s ease-in-out)
    }
}

.container-fluid{
    line-height: 24px;
}

/*
Mixins
*/

@mixin tranlateY($e){
    -webkit-transform: tranlateY($e);
        -moz-transform:translateY($e);
            transform:translateY($e);
}
@mixin transition($e) {
    -webkit-transition:$e;
        -moz-transition:$e;
            transition:$e;
}
